header{
    width: 100%;
    height: 60px;
    border-bottom:1px solid #a2a2a2;
}
.image-ctr{
    width: 450px;
    height: 300px;
    overflow: hidden;
    margin: 20px auto auto;
    text-align: center;
    position: relative;
}


.image-ctr > .img-toggle{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 20px;
}

.image-ctr > .img-toggle  div{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 60px;
    position: relative;
}

.img-toggle div > input{
    position: absolute;
    top: -9999px;
}

.img-toggle div>label{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: rgba(255,255,255,0.4);
    line-height: 30px;
    margin: 15px auto;
    vertical-align: center;
}

.img-toggle div>input:checked + label{
    background: rgba(0,255,255,0.4);
}

.image-ctr .img-part-1,
.image-ctr .img-part-2,
.image-ctr .img-part-3,
.image-ctr .img-part-4{
    width: 25%;
    float: left;
    height: 100%;
    position: relative;
}

.image-ctr .img-part-1 span,
.image-ctr .img-part-2 span,
.image-ctr .img-part-3 span,
.image-ctr .img-part-4 span{
    display: block;
    width: 100%;
    height: 100%;
}

.image-ctr .img-part > div:after{
    content: "";
    display: block;
    width: 1px;
    height: 260px;
    background:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
    position: absolute;
    top: 0;
    right: 0;
}

.image-ctr .img-part >div:nth-child(4):after{
   display: none;
}

.image-ctr .img-toggle div:nth-child(1)>input:checked{
    background: url("../images/1.jpg");
}
